@page "/"
@using System.ComponentModel
@using OpenQA.Selenium
@using OpenQA.Selenium.IE
@using OpenQA.Selenium.Support.UI

<div class="main-panel">
    <div class="text-xl-center">Журнал</div>
    <div id="ViewList">
        
    </div>
</div>

@code
{
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        
    }
}
